<div class="eula">

  <div class="eula_content">
    <h1>End-User License Agreement ("Agreement")</h1>
    <p>
      Last updated: (add date) Please read this End-User License Agreement ("Agreement") carefully before clicking the "I Agree"
      button, downloading or using My Application (change this) ("Application"). By clicking the "I Agree" button, downloading
      or using the Application, you are agreeing to be bound by the terms and conditions of this Agreement. If you do not
      agree to the terms of this Agreement, do not click on the "I Agree" button and do not download or use the Application.
    </p>

    <h5>License</h5>
    <p>
      My Company (change this) grants you a revocable, non-exclusive, non-transferable, limited license to download, install and
      use the Application solely for your personal, non-commercial purposes strictly in accordance with the terms of this
      Agreement.
    </p>

    <h5>Restrictions</h5>
    <p>
      You agree not to, and you will not permit others to: a) license, sell, rent, lease, assign, distribute, transmit, host, outsource,
      disclose or otherwise commercially exploit the Application or make the Application available to any third party.
    </p>

    <p>These clauses address license granting, restrictions on use, infringement information, termination of licensing, and
      disclaimers and limitations of warranties and liability.</p>

    <h5>Access permitted</h5>

    <p>Licensors agree to provide you online access via the World-Wide-Web to the Licensed Content and the Licensed Site for
      the duration of the current viewing session. You acknowledge that you will be required to execute a new EULA upon your
      next visit to the Licensed Site. You agree not to attempt to access the Licensed Site after the termination of this
      EULA.
    </p>

    <h5>License revoked</h5>

    <p>Your license to use the Licensed Content and the Licensed Site is immediately revoked, without notice from Licensors,
      in the event that you breach any provision of this EULA.</p>

    <h5>Term and termination</h5>
    <p> Any party may terminate this EULA upon notice to another. In the event of termination, all licenses hereunder immediately
      terminate, and you agree to discontinue accessing and attempting to access the Licensed Site. The terms of sections
      2, 4, and 6 of this EULA shall survive its termination.</p>

    <h5>Integration and severability</h5>
    <p>This EULA contains the entire understanding of the parties and supersedes all previous oral and written agreements on
      the subject matter hereof. Each provision of this EULA is severable from the whole, and if one provision is declared
      invalid, the other provisions shall remain in full force and effect.</p>

    <h5>Indemnification</h5>
    <p>You will defend, indemnify and hold the Licensors harmless from and against any and all liability, damages, loss or expense
      (including reasonable fees of attorneys and other professionals) in any claim, demand, action or proceeding initiated
      by any third-party against the Licensors arising from any of your acts, including without limitation violating this
      or any other agreement or any law.</p>

    <h5>Assignment</h5>
    <p>You may not assign or delegate this EULA or any obligations, rights, or duties hereunder. Any attempted or purported
      assignment or delegation in contravention of this section is null and void.</p>
    <h5>Governing law</h5>
    <p>This EULA shall be governed by, and construed in accordance with, the laws of the State of Minnesota applicable to contacts
      made and performed in Minnesota, but without regard to the choice of law and conflicts of law provisions thereof. The
      parties hereby agree that any dispute under this EULA shall have its forum in the state or federal courts located in
      Ramsey County, Minnesota, in the United States of America, and the parties hereby consent to personal jurisdiction
      therein and expressly waive any defenses to personal jurisdiction, including forum non conveniens
    </p>

    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab sint maxime cupiditate debitis accusantium, asperiores
      esse iure sequi quia a totam assumenda. Exercitationem ab aspernatur perspiciatis reiciendis distinctio consectetur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab sint maxime cupiditate debitis accusantium, asperiores
      esse iure sequi quia a totam assumenda. Exercitationem ab aspernatur perspiciatis reiciendis distinctio consectetur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab sint maxime cupiditate debitis accusantium, asperiores
      esse iure sequi quia a totam assumenda. Exercitationem ab aspernatur perspiciatis reiciendis distinctio consectetur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab sint maxime cupiditate debitis accusantium, asperiores
      esse iure sequi quia a totam assumenda. Exercitationem ab aspernatur perspiciatis reiciendis distinctio consectetur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab sint maxime cupiditate debitis accusantium, asperiores
      esse iure sequi quia a totam assumenda. Exercitationem ab aspernatur perspiciatis reiciendis distinctio consectetur.</p> -->

    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab sint maxime cupiditate debitis accusantium, asperiores
      esse iure sequi quia a totam assumenda. Exercitationem ab aspernatur perspiciatis reiciendis distinctio consectetur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab sint maxime cupiditate debitis accusantium, asperiores
      esse iure sequi quia a totam assumenda. Exercitationem ab aspernatur perspiciatis reiciendis distinctio consectetur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab sint maxime cupiditate debitis accusantium, asperiores
      esse iure sequi quia a totam assumenda. Exercitationem ab aspernatur perspiciatis reiciendis distinctio consectetur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab sint maxime cupiditate debitis accusantium, asperiores
      esse iure sequi quia a totam assumenda. Exercitationem ab aspernatur perspiciatis reiciendis distinctio consectetur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab sint maxime cupiditate debitis accusantium, asperiores
      esse iure sequi quia a totam assumenda. Exercitationem ab aspernatur perspiciatis reiciendis distinctio consectetur.</p> -->

  </div>

  <div class="eula_check">
    <mat-checkbox color="primary" (change)="enableAccept()">I agree all the
      <a href=""> Terms and Conditions </a>
    </mat-checkbox>
  </div>

  <div class="eula_buttons">
    <button mat-raised-button color="warn" class="btnDecline" (click)="dialogBox()">Decline</button>
    <button mat-raised-button color="primary" class="btnAccept" [disabled]="buttonStatus" (click)="onAccept()">Accept</button>
  </div>

</div>