.eula {
    padding: 2rem;
    margin: 10rem;
    width: 75rem;
    height: 25rem;
    background-color: white;
    position: relative;
    top: auto;
    left: 5%;
    bottom: auto;
    right: auto;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 2rem rgb(138, 140, 226);
    border-radius: 1.75rem;
    display: inline-block;
    overflow: auto;
}

.eula button { 
    float: right;
    margin-right: 5px;
}

.chkAccept {
    float: left;
    margin-left: 670px;
    margin-top: 5px;
    size: 22px;
    font-size: 15px;
}
