<aside class="side-menu__container" [ngClass]="{'side-menu__container-active': showMenu}">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu}" (click)="$event.stopImmediatePropagation();">
    <section class="menu-header">
      <span class="greeting__text">Application Menu</span>
      <div class="profile-image__container">

      </div>
      <div class="account-details">
        <span class="name__text">Nikhil Chitumothu</span>
        <span class="email__text">nikhilc@twinesoft.com</span>
      </div>
      <div class="new">
        <a [routerLink]="['/signin']" class="name__text">Sign_in</a>
        <a [routerLink]="['/register']" class="name__text">Register</a>
      </div>
    </section>

    <section class="menu-body">

    </section>
    <section class="menu-footer">

    </section>
  </nav>
</aside>

<!-- <div class="center">
  <div class="left">
    <ul>
      <li>
        <a href="">Link1</a>
      </li>
      <li>
        <a href="">Link2</a>
      </li>
      <li>
        <a href="">Link3</a>
      </li>
      <li>
        <a href="">Link4</a>
      </li>
      <li>
        <a href="">Link5</a>
      </li>
    </ul>
  </div>

  <div class="right">
    <ul>
      <li>
        <a href="">Link6</a>
      </li>
      <li>
        <a href="">Link7</a>
      </li>
      <li>
        <a href="">Link8</a>
      </li>
      <li>
        <a href="">Link9</a>
      </li>
      <li>
        <a href="">Link10</a>
      </li>
    </ul>
  </div>
</div> -->
