<aside class="side-menu__container" [ngClass]="{'side-menu__container-active': showMenu}" (click)="toggleMenu()">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu}" (click)="$event.stopImmediatePropagation();">
    <section class="menu_header">
      <span class="greeting__text">Application Menu</span>
      <!-- <span class="close"> -->
        <i class="material-icons close" (click)="toggleMenu()">
          highlight_off
        </i>
      <!-- </span> -->
    </section>

    <section class="menu-body">
      <div class="menu_details">
        <span class="name__text">
          <app-menu name="show" email="show" *ngIf="showMenu"></app-menu>
        </span>
      </div>
    </section>
    <section class="menu-footer">

    </section>
  </nav>
</aside>

<div class="main_header">

  <div class="menu">
    <i class="material-icons" (click)="toggleMenu()">menu</i>
    <h3 (click)="toggleMenu()">Menu</h3>
  </div>

  <div class="main_header_text">
    <h1 style="margin: 0; margin-top: 1px;">
      <a [routerLink]="['/home']" [disabled]="disabled">TELGRO</a>
    </h1>
  </div>

  <div class="register">
    <h4 [routerLink]="['/register']" class="register_button">
      <a>Register</a>
    </h4>
    <h4 class="signin">
      <a [routerLink]="['/signin']">Sign-In</a>
    </h4>
  </div>

</div>
