/* mat-grid-list {
  color: white;
}

mat-grid-tile a {
  text-decoration: none;
  color: white;
}

mat-grid-tile i {
  position: absolute;
  top: 15%;
  z-index: 35;
  height: 1rem;
  width: 4rem;
  margin-left: -2rem;
  cursor: pointer;
}

mat-grid-tile h4 {
  position: relative;
  left: 2%;
  cursor: pointer;
}

mat-grid-tile {
  background: linear-gradient(to bottom, rgb(111, 128, 163),rgb(50, 95, 161));
} */

.main_header {
  position: fixed;
  z-index: 3;
  width: 103%;
  top: -0.01px;
  left: -0.01px;
  display: grid;
  grid-template-rows: 0.08fr;
  grid-template-columns: 0.5fr 1.5fr 0.7fr;
  grid-template-areas: "menu header_text register";
  grid-gap: 0 0;
  box-sizing: border-box;
}

.main_header_text {
  grid-area: header_text;
  text-align: center;
  background: linear-gradient(to bottom,rgb(111, 128, 163),rgb(50, 95, 161));
}

.main_header_text a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: "Audiowide";
}

.menu {
  grid-area: menu;
  color: white;
  justify-items: center;
  display: inline-block;
  background: linear-gradient(to bottom,rgb(111, 128, 163),rgb(50, 95, 161));
}

.menu i {
  /* position: absolute; */
  display: inline-flex;
  z-index: 35;
  font-size: 130%;
  /* height: 1rem; */
  width: 3.5rem;
  margin-top: 9px;
  margin-left: 1rem;
  margin-right: -2rem;
  cursor: pointer;
}

.menu h3 {
  /* position: absolute; */
  display: inline-flex;
  margin: 0;
  margin-top: 3px;
  font-size: 130%;
  height: 1rem;
  width: 4rem; 
  cursor: pointer;
}

.register {
  grid-area: register;
  background: linear-gradient(to bottom,rgb(111, 128, 163),rgb(50, 95, 161));
}

.register_button {
  text-align: center;
  display: inline-flex;
  margin: 0;
  margin-top: 3px;
  width: 50px;
  cursor: pointer;
  padding: 5px 11px;
  margin-right: 1%;
  background-color: orangered;
  /* position: relative; */
  border: 1px orangered solid;
}

.register a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* .signin {
  grid-area: signin;
  background: linear-gradient(to bottom,rgb(111, 128, 163),rgb(50, 95, 161));
} */

.signin {
  text-align: left;
  margin: 0;
  margin-top: 3px;
  display: inline-flex;
  cursor: pointer;
  padding: 5px 11px;
  position: relative;
}

.signin a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* Sliding Menu CSS */
.side-menu__container {
  position: fixed;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  top: 8%;
  left: -0.1%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 25;
}

.side-menu__container-active {
  pointer-events: auto;
}

.side-menu__container::before {
  content: '';
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 300ms linear;
  /* will-change changes the value that it is assigned to, from the prev css given */
  /* Here it changes the opacity of the slide-menu class */
  will-change: opacity;
}

.side-menu__container-active::before {
  opacity: 0.7;
}

.slide-menu {
  box-sizing: border-box;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  /* transform changes the direction in which the menu bar slide in from */
  transform: translateY(-100%);
  position: relative;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  /* max-width of 100rem covers the whole page */
  max-width: 100%;
  max-height: 15rem;
  background-color: white;
  box-shadow: 0 0 3rem rgba(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr 1fr;
  transition: transform 300ms linear;
  will-change: transform;
}

.slide-menu-active {
  transform: none;
}

.menu_body {
  background-color: rgb(207, 230, 226);
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 2fr 0.1fr;
  grid-template-areas: "greeting close" "details details";
  box-sizing: border-box;
  width: 100%;
  color: black;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

.close {
  grid-area: close;
  justify-self: end;
  align-self: center;
  cursor: pointer;
}

.greeting__text {
  grid-area: greeting;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  left: 2%;
}

.menu_details {
  grid-area: details;
}

.name__text {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 100%) {
  .slide-menu {
    width: 100%;
  }
}
