.userinfo {
    color: black;
    display: grid;
    width: 110%;
    height: 25rem;
    margin-top: 3%;
    margin-left: -5%;
    padding: 5px;
    grid-template-rows: 13fr 7fr;
    grid-template-columns: 3fr 3fr;
    grid-template-areas: "user_details user_image" ". user_buttons";
    box-shadow: 0 0 2rem rgb(106, 106, 235);
    box-sizing: border-box;
    border-radius: 2rem;
}

.user_details {
    grid-area: user_details;
    align-self: flex-end;
}

.user_image {
    grid-area: user_image;
    justify-self: center;
    align-self: center;
}

.user_buttons {
    grid-area: user_buttons;
    align-self: center;
    justify-self: center;
}

.user_details li {
    list-style-type: none;
}

.user_details li h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.user_details li h6 span {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
     
.user_image img {
    width: 200px;
    height: 200px;
    position: relative;
}

.btnCancel {
    margin: 10px;
}
