<div class="footer_headers">

  <!-- Why Telgro -->
  <div class="whytelgro">
    <h3>Why Telgro</h3>
  </div>

  <div class="whytelgro_content">
    <ul>
      <li>
        <a href="#">Our Story</a>
      </li>
      <li>
        <a href="#">Careers</a>
      </li>
      <li>
        <a href="#">Our Clients</a>
      </li>
    </ul>
  </div>

  <!-- Services -->
  <div class="services">
    <h3>Services</h3>
  </div>

  <div class="services_content">
    <ul>
      <li>
        <a href="#">Web Applications</a>
      </li>
      <li>
        <a href="#">Desktop Applications</a>
      </li>
      <li>
        <a href="#">Mobile Applications</a>
      </li>
    </ul>
  </div>

  <!-- Technology -->
  <div class="technology">
    <h3>Technology</h3>
  </div>

  <div class="technology_content">
    <ul>
      <li>
        <a href="#">Angular 6</a>
      </li>
      <li>
        <a href="#">Node.js</a>
      </li>
      <li>
        <a href="#">ExpressJS</a>
      </li>
      <li>
        <a href="#">MongoDB</a>
      </li>
      <li>
        <a href="#">Swift</a>
      </li>
      <li>
        <a href="#">Ionic</a>
      </li>
    </ul>
  </div>

  <!-- Offerings -->
  <div class="offerings">
    <h3>Offerings</h3>
  </div>

  <div class="offerings_content">
    <ul>
      <li>
        <a href="#">Angular 6</a>
      </li>
      <li>
        <a href="#">Node.js</a>
      </li>
      <li>
        <a href="#">ExpressJS</a>
      </li>
      <li>
        <a href="#">MongoDB</a>
      </li>
      <li>
        <a href="#">Swift</a>
      </li>
      <li>
        <a href="#">Ionic</a>
      </li>
    </ul>
  </div>

  <!-- Support -->
  <div class="support">
    <h3>Support</h3>
  </div>

  <div class="support_content">
    <p>
      <i class="material-icons">home</i>
      <a> Seattle,WA 10012,</a>
    </p>
    <p>
      <i class="material-icons">mail</i>
      <a>info@gmail.com</a>
    </p>
    <p>
      <i class="material-icons">phone</i>
      <a> + 01 234 567 88</a>
    </p>
    <p>
      <i class="material-icons">print</i>
      <a> + 01 234 567 89</a>
    </p>
  </div>

  <div class="social">
    <h3></h3>

    <div class="social_icons_container">
      <img class="facebook_icon" src="assets/facebook.png">
      <img class="google_icon" src="assets/google.png">
      <img class="linkedin_icon" src="assets/linkedin.png">
      <img class="twitter_icon" src="assets/twitter.png">
    </div>
    <!-- <ul>
      <li>
        <img src="assets/facebook.png">
      </li>
      <li>
        <img src="assets/google.png">
      </li>
      <li>
        <img src="assets/linkedin.png">
      </li>
      <li>
        <img src="assets/twitter.png">
      </li>
    </ul> -->
  </div>

  <div class="copyright">
    <p>
      <a>Terms of Service</a> |
      <a>Privacy Policy</a> | © 2018 Telgro, India. All Rights Reserved.
    </p>
  </div>

</div>

<!-- <div class="mdc-layout-grid__cell copyright">
  <p> copyright @ Twinesoft 2018</p>
</div> -->

<!-- <div class="mdc-layout-grid__cell social">
    <div class="facebook" href="#">
      <img src="assets/facebook.png">
    </div>
    <div class="google-plus">
      <img src="assets/google.png">
    </div>
    <div class="linkedin">
      <img src="assets/linkedin.png">
    </div>
    <div class="twitter">
      <img src="assets/twitter.png">
    </div>
  </div> -->