.footer_headers {
    color: yellowgreen;
    position: relative;
    width: 103%;
    /* min-width: 100%; */
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "whytelgro services technology offerings support"
    "whytelgro_content services_content technology_content offerings_content support_content"
    "copyright copyright social social social";
    align-content: center;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
    box-sizing: border-box;
    font-family: "Lato";
}
 
.whytelgro {
    grid-area: whytelgro;
    background: linear-gradient(to bottom,rgb(111, 128, 163),rgb(50, 95, 161));
}

.whytelgro_content {
    grid-area: whytelgro_content;
    background-color: rgb(207, 230, 226);
}

.whytelgro_content ul {
    padding: 0;
}

.whytelgro_content li {
    list-style-type: none;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.whytelgro_content a {
    text-decoration: none;
    color: black;
}

.services {
    grid-area: services;
    margin: 0;
    display: flex;
    background: linear-gradient(to bottom,rgb(111, 128, 163),rgb(50, 95, 161));
}

.services_content {
    grid-area: services_content;
    background-color: rgb(207, 230, 226);
}

.services_content ul {
    padding: 0;
}

.services_content li {
    list-style-type: none;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.services_content a {
    text-decoration: none;
    color: black;
}

.technology {
    grid-area: technology;
    background: linear-gradient(to bottom,rgb(111, 128, 163),rgb(50, 95, 161));
}

.technology_content {
    grid-area: technology_content;
    background-color: rgb(207, 230, 226);
}

.technology_content ul {
    padding: 0;
}

.technology_content li {
    list-style-type: none;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.technology_content a {
    text-decoration: none;
    color: black;
}

.offerings {
    grid-area: offerings;
    background: linear-gradient(to bottom,rgb(111, 128, 163),rgb(50, 95, 161));
}

.offerings_content {
    grid-area: offerings_content;
    background-color: rgb(207, 230, 226);
}

.offerings_content ul {
    padding: 0;
}

.offerings_content li {
    margin: 0;
    list-style-type: none;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.offerings_content a {
    text-decoration: none;
    color: black;
}
 
.support {
    grid-area: support;
    background: linear-gradient(to bottom,rgb(111, 128, 163),rgb(50, 95, 161));
}

.support_content {
    grid-area: support_content;
    background-color: rgb(207, 230, 226);
}
 
.support_content li {
    list-style: none;
    padding-bottom: 3px;
    margin-bottom: 3px;
 }

.support_content a {
    color: black;
}

.support_content i {
    color: black;
    padding: 2px;
}

.social {
    grid-area: social;
    background-color: rgb(207, 230, 226);
}

.social h3 {
    color: black;
    justify-self: center;
}

.social li {
    list-style: none;
    display: inline-flex;
    justify-self: center;
}

.social img {
    align-content: center;
    width: 25px;
    height: 25px;
}

.social img:hover {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.copyright {
    grid-area: copyright;
    color: black;
    background-color: rgb(207, 230, 226);
}
