.footer {
    position: relative;
    width: 84.4rem;
    background: linear-gradient(to right, rgb(80, 117, 185), rgb(132, 176, 189));
    color: black;
    height: 15rem;
    z-index: -3;
    font-family: Helvetica;
    left: -0.47rem;
    bottom: -10rem;
    font-size: 0.7rem;
}
 
.AboutUs {
    width: 300px;
    float: left;
    position: absolute;
    left: 2%;
    text-align: center;
    top: 17px;
}
 
.ContactUs {
    width: 300px;
    position: absolute;
    left: 500px;
    top: 17px;
}

.ContactUs h3 {
    margin-left: 20px;

}
 
.ContactUs li {
    font-size: 18px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    list-style: none; 
 }

.ContactUs i {
    padding: 0px 0px 0px 0px;
 } 

.ContactUs a {
    margin: 4px 0px 0px 2px;
    padding: 1px 0px 0px 4px;
    position: absolute;
}
 
.copyright {
    position: absolute;
    left: 50px;
}

.social {
    width: 150px;
    height: 75px;
    position: relative;
    top: 200px;
    left: 484px;
}

.social img {
    width: 25px;
    height: 25px;
}

.social img:hover {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.facebook {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0px;
}
.google-plus {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 47px;
}

.linkedin {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 89px;
}

.twitter {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 132px;
}
