<app-header></app-header>

<br><br><br><br>

<h2 style="margin-left: 40%">
    Sample Text for Home Page
</h2>
<div style="width: 75%;">
    <h4>Sample Heading for the Paragraph</h4>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis beatae amet ipsam accusamus consequatur expedita
        officia est hic sed nisi magni sunt ullam cumque consectetur iusto recusandae, atque suscipit! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Culpa debitis beatae amet ipsam accusamus consequatur expedita officia est hic sed nisi magni
        sunt ullam cumque consectetur iusto recusandae, atque suscipit!
    </p>
</div>
<p style="float: right; max-width: 50%; word-wrap: break-word">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Culpa debitis beatae amet ipsam accusamus consequatur expedita officia
    est hic sed nisi magni sunt ullam cumque consectetur iusto recusandae,
    atque suscipit! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Culpa debitis beatae amet ipsam accusamus consequatur expedita officia
    est hic sed nisi magni sunt ullam cumque consectetur iusto recusandae,
    atque suscipit!
</p>
<br><br><br><br><br><br>
<p style="max-width: 50%; word-wrap: break-word">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis beatae amet ipsam accusamus consequatur expedita officia
    est hic sed nisi magni sunt ullam cumque consectetur iusto recusandae, atque suscipit! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Culpa debitis beatae amet ipsam accusamus consequatur expedita officia est hic sed nisi magni sunt
    ullam cumque consectetur iusto recusandae, atque suscipit!
</p>
<br>
<p style="float: right; max-width: 50%; word-wrap: break-word">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis beatae amet ipsam accusamus consequatur expedita officia
    est hic sed nisi magni sunt ullam cumque consectetur iusto recusandae, atque suscipit! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Culpa debitis beatae amet ipsam accusamus consequatur expedita officia est hic sed nisi magni sunt
    ullam cumque consectetur iusto recusandae, atque suscipit!
</p>
<app-tryme></app-tryme>