<body>
    <app-header></app-header>

    <br>
    <br>
    <br>

    <div class="image">
        <img src="/assets/img12.jpeg">
    </div>
    <div class="text">
        <div class="content">
            <h2>
                HTML5 Development
            </h2>

            <p>
                HTML5 is the fifth revision of HTML (HyperText Markup Language) known as Application Programming Interface that is mingled
                with CSS3 and advanced series of JavaSacript API. It is a cutting-edge markup language can be written in
                either HTML or XHTML syntax which supports the latest multimedia specifications.
            </p>
            <p>
                HTML5 is so important because it dramatically alters web development. Whether we are creating a media-rich application or
                a mobile application for various devices that interacts with the web heavily, HTML5 plays a vital role in
                reducing the cost and effort to attain these goals. Thus, HTML5 will rapidly become a development solution
                for Mobile applications in the enterprise. And HTML5 is now supported in all major mobile devices like iPhone,
                iPad, Google Android and Windows Mobile Phones etc

            </p>
            <!-- <h4>
            Our HTML5 Development Services include:
        </h4>
        <ul>
            <li>HTML5 Web Application</li>
            <li>Development HTML5 Conversion</li>
            <li>HTML5 iPhone Application</li>
            <li>Development HTML5 iPad Application</li>
            <li>Development HTML5 Android Application</li>
            <li>Development HTML5 Game</li>
            <li> HTML5 Web Services</li>
        </ul> -->
            <div>
                <img src="/assets/dynamic.jpg">
            </div>
        </div>

        <div class="image_content">
            <h4>
                Our HTML5 Development Services include:
            </h4>
            <ul>
                <li>HTML5 Web Application</li>
                <li>Development HTML5 Conversion</li>
                <li>HTML5 iPhone Application</li>
                <li>Development HTML5 iPad Application</li>
                <li>Development HTML5 Android Application</li>
                <li>Development HTML5 Game</li>
                <li> HTML5 Web Services</li>
            </ul>
        </div>

        <div class="node_image">
            <img src="assets/angular.jpg" alt="Angular_Image">
        </div>

        <div class="node">
            <h2>
                Node.js Development
            </h2>
            <p>
                Selecting the right framework for your application development becomes a long way in deciding how you use your resources.
                Nowadays, we are having a broad scope of frameworks to pick from. Telgro expertise in multiple frameworks
                can help you to find the opt one keeping in mind your fore-casted business growth. Our expertness in observing
                the right architecture for scalability and efficiency would not only bear you delivers your business better
                but also would cut down the resources spent for it. </p>
            <p>
                Mouthing about the right frameworks, Node.js extends a platform to build fast, scalable network applications easily. Node.js
                is event-driven, server-side JavaScript runtime environment for ‘highly scalable’ network and ‘real-time’
                applications. Its lightweight runtime enables speedy development and deployment. As a result, Node.js is
                a potent solution for prompt development, where iteration usually involves working in vertical slits.

            </p>
            <p>
                Srimax supplies the downright best technical and business perceptivities into using Node.js effectively. Our proficient team
                of Node.js development creates both the server-side and client-side qualitative data-intensive applications
                as well as performance analysis tools at affordable prices.
            </p>
            <p>
                We’ll be glad to bring together an existing team using Node.js or serve you building an application from scratch. We will
                take you to the ethereal point of certainty that no one else can match.
            </p>
        </div>

        <div class="node_text">
            <h4>
                Our Node.js Development Services include:
            </h4>
            <ul>
                <li>Real Time Chat Applications</li>
                <li>Application & System monitoring Dashboard
                </li>
                <li>Web APIs</li>
                <li>Real Time Statistics Display</li>
                <li>Heavy load Web Applications
                </li>
            </ul>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <app-footer></app-footer>
</body>