<app-header></app-header>
<br><br><br><br><br><br><br>
<h2>
    Sample Text for Home Page
</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis beatae amet ipsam accusamus consequatur expedita officia
    est hic sed nisi magni sunt ullam cumque consectetur iusto recusandae, atque suscipit!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis beatae amet ipsam accusamus consequatur expedita officia
    est hic sed nisi magni sunt ullam cumque consectetur iusto recusandae, atque suscipit!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis beatae amet ipsam accusamus consequatur expedita officia
    est hic sed nisi magni sunt ullam cumque consectetur iusto recusandae, atque suscipit!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis beatae amet ipsam accusamus consequatur expedita officia
    est hic sed nisi magni sunt ullam cumque consectetur iusto recusandae, atque suscipit!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis beatae amet ipsam accusamus consequatur expedita officia
    est hic sed nisi magni sunt ullam cumque consectetur iusto recusandae, atque suscipit!
</p>
<app-tryme></app-tryme>